<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.60.6" targetFramework="net471" />
  <package id="Dapper.Contrib" version="1.60.1" targetFramework="net471" />
  <package id="DynamicData" version="6.9.0.2586" targetFramework="net471" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net471" />
  <package id="FontAwesome5" version="1.0.11" targetFramework="net471" />
  <package id="gong-wpf-dragdrop" version="2.0.3" targetFramework="net471" />
  <package id="LightInject" version="5.4.0" targetFramework="net471" />
  <package id="log4net" version="2.0.8" targetFramework="net471" />
  <package id="MediatR" version="6.0.0" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net471" />
  <package id="NEventStore" version="6.0.0" targetFramework="net471" />
  <package id="NEventStore.Persistence.Sql" version="6.0.0" targetFramework="net471" />
  <package id="NEventStore.Serialization.Json" version="6.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="ReactiveUI" version="9.13.1" targetFramework="net471" />
  <package id="ReactiveUI.WPF" version="9.13.1" targetFramework="net471" />
  <package id="Splat" version="7.0.8" targetFramework="net471" />
  <package id="System.Data.SQLite" version="1.0.110.0" targetFramework="net471" />
  <package id="System.Data.SQLite.Core" version="1.0.110.0" targetFramework="net471" />
  <package id="System.Data.SQLite.EF6" version="1.0.110.0" targetFramework="net471" />
  <package id="System.Data.SQLite.Linq" version="1.0.110.0" targetFramework="net471" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Reactive" version="4.1.5" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>